# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pkl
*.pdb

# Virtual environments
venv/
env/

# Django
*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/

# Migrations (optional)
# */migrations/*
# !*/migrations/__init__.py

# IDEs
.vscode/
.idea/
*.iml

# OS files
.DS_Store
Thumbs.db

# PyCharm (cleaned)
*.ipr
*.iws

# Compiled extensions
*.so

# Environment variables
.env
.env.local
.env.*.local

# Docker
*.pid
*.seed
*.pid.lock

# Coverage / testing
htmlcov